<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">
  <div class="container-fluid">
    <a
      href="{{url_for('land_admin.landing')}}"
      class="ms-3 text-light text-decoration-none h4 mt-2 me-3"
    >
      SkidGames
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mt-2" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link nav-link-edited" href="{{url_for('admin.users')}}"
            >Users</a
          >
        </li>

        <!-- Droptdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle nav-link-edited"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Games
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#">List</a>
              <a class="dropdown-item" href="#">Config</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-edited" href="#">Config</a>
        </li>
        <!-- Fim Dropdown -->
      </ul>
      <div class="row">
        <!-- Atualizar creds -->
        <!-- Logout -->
        <div class="col">
          <a
            href="{{url_for('land_admin.logout')}}"
            title="Terminar Sessão"
            class="nav-link btn btn-outline-secondary text-light text-center form-control me-3"
            ><i class="bi bi-box-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</nav>
